@model PortFolio_A1_Version2._0.Models.Booking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<!-- Add FullCalendar  -->
<div id="calendar"></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="StartTime">StartTime:</label>
        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @id = "StartTime", @class = "form-control", @autocomplete = "off" } })
    </div>
    <div class="form-group">
        <label for="EndTime">EndTime:</label>
        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @id = "EndTime", @class = "form-control", @autocomplete = "off" } })
    </div>


    <!-- Add other form elements as needed -->

    <button type="submit" class="btn btn-primary">Create</button>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
}

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function() {
    $('#calendar').fullCalendar({
        defaultView: 'agendaWeek',
        selectable: true,
        slotDuration: '00:15:00',
        select: function(start, end) {
            $("#StartTime").val(start.format());
            $("#EndTime").val(end.format());

            // Ajax
            $.ajax({
                url: '@Url.Action("CreateBooking", "Bookings")', 
                type: 'POST',
                data: {
                    startTime: start.format(),
                    endTime: end.format()
                },
                success: function(response) {
                    if(response.success) {
                        alert('Booking saved!');
                        
                    } else {
                        alert('Error saving booking.');
                    }
                }
            });
        },
        events: '@Url.Action("GetBookings")'
    });
});



    </script>
}


